<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/heroSection.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/features.css">
    <link rel="stylesheet" href="styles/services.css">
    <link rel="stylesheet" href="styles/aboutUs.css">
    <link rel="stylesheet" href="styles/loginPage.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/giftcard.css">

    <script src="scripts/login.js" defer></script>
</head>
<body>
    <div class="main2" >
        <div class="navbar">
            <div class="logo">
                <a href="/home">
                    <img src="images/logo.png" alt="Brand Logo">
                </a>
            </div>
            <ul class="menu item">
                <li><a href="/home#about-section">About Us</a></li>
                <li class="popDown"><p>Our Menus &nbsp; ﹀</p>

                    <ul class="dropdown">
                        <li class="menu-category"><a href="/nonveg">Non-vegitarian</a></li>
                        <hr>
                        <li class="menu-category"><a href="/veg">Vegitarian</a></li>
                        <hr>
                        <li class="menu-category"><a href="/jain">Jain</a></li>
                    </ul>

                </li>
                <li><a href="/gift">Gift Cards</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            
        </div>
       
        <div class="food-container">
            <a href="/home">
                <img id="giftcard" src="images/giftcard.png" alt="">
            </a>

            <h3 id="gift-note">
                Please note that the gift cards are only valid for a year from the date of purchase. For any queries regarding the gift cards please contact us <u>info@cooked.com</u>  For custom gift cards text us at <u>+101 828210910</u> 
            </h3>
        </div>
        
    </div>

</body>
</html>