<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/heroSection.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/features.css">
    <link rel="stylesheet" href="styles/services.css">
    <link rel="stylesheet" href="styles/aboutUs.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="logo">
                <a href="/home">
                    <img src="images/logo.png" alt="Brand Logo">
                </a>
            </div>
            <ul class="menu item">
                <li><a href="#about-section">About Us</a></li>
                <li class="popDown"><p>Our Menus &nbsp; ﹀</p>

                    <ul class="dropdown">
                        <li class="menu-category"><a href="/nonveg">Non-vegitarian</a></li>
                        <hr>
                        <li class="menu-category"><a href="/veg">Vegitarian</a></li>
                        <hr>
                        <li class="menu-category"><a href="/jain">Jain</a></li>
                    </ul>

                </li>
                <li><a href="/gift">Gift Cards</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>

        <div class="hero-text">
            <div class="main-line">welcome to cooked.™</div>
            <div class="main-line2">a one stop destination for all your cooking needs</div>

            <button class="explore">
                <a href="/nonveg">
                    Explore Our Products &nbsp;&nbsp;&nbsp; 
                    <span lass="arrow">→</span>
                </a>
            </button>
        </div>

    </div>
    <div class="services-section">
        <div class="block1 block">
            <img src="images/feat1.png" alt="">
            <div class="feat">
                NUTRIENT RICH DIET
            </div>
        </div>
        <div class="block2 block"><span> Why Cooked.™ </span></div>

        <div class="block3 block">
            <img src="images/feat3.png" alt="">
            <div class="feat">
                HIGH QUALITY <br> INGREDIENTS
            </div>
        </div>

        <div class="block4 block">
            <img src="images/feat2.png" alt="">
            <div class="feat">
                1000+ RECIPIES
            </div>
        </div>

        <div class="block5 block">
            <img src="images/feat4.png" alt="">
            <div class="feat">All Cooking Essential <br> At One Place</div>
        </div>
    </div>

    <div id="about-section">
        <h1>About Us: </h1>
        <br>
        <p>At cooked.com, we are dedicated to providing quality resources, insights, and solutions tailored to your needs. Whether you are seeking expert advice, innovative ideas, or the latest updates, we've got you covered. </p>
        <br>
        <p>Our team of professionals is passionate about helping you succeed in your journey.</p>
         
        <div class="gap-hr-holder">
            <hr class="gap-hr">
        </div>

        

        <h1>Contact Us:</h1>
        <br>
        <p>
            Have questions or need support? Feel free to reach out!
            <br>
            Email: support@cooked.com | Phone: 123-456-7890 
            <br>
            Follow us on social media for updates, promotions, and more.
            <br>
            Stay Connected:
            <br>
            Subscribe to our newsletter to receive exclusive offers and the latest news straight to your inbox.
        </p>
        
        <div class="gap-hr-holder">
            <hr class="gap-hr">
        </div>

        <p>
            All rights reserved. 
        </p>
        <br>
        <p>
            Terms & Conditions &nbsp;&nbsp;|
            &nbsp;&nbsp; Privacy Policy &nbsp;&nbsp;
            |&nbsp;&nbsp; Sitemap &nbsp;&nbsp;
            |&nbsp;&nbsp; © 2024 cooked.com
        </p>
    </div>

</body>
</html>