<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/heroSection.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/features.css">
    <link rel="stylesheet" href="styles/services.css">
    <link rel="stylesheet" href="styles/aboutUs.css">
    <link rel="stylesheet" href="styles/loginPage.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/meal.css">

    <script src="scripts/login.js" defer></script>
</head>
<body>
    <div class="main2" >
        <div class="navbar">
            <div class="logo">
                <a href="/home">
                    <img src="images/logo.png" alt="Brand Logo">
                </a>
            </div>
            <ul class="menu item">
                <li><a href="/home#about-section">About Us</a></li>
                <li class="popDown"><p>Our Menus &nbsp; ﹀</p>

                    <ul class="dropdown">
                        <li class="menu-category"><a href="/nonveg">Non-vegitarian</a></li>
                        <hr>
                        <li class="menu-category"><a href="/veg"> Vegitarian</a></li>
                        <hr>
                        <li class="menu-category"><a href="/jain">Jain</a></li>
                    </ul>

                </li>
                <li><a href="/gift">Gift Cards</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>

        
        <h2 class="category-title">
            Non-Vegitarian
            <br>
            <div class="white-text">
                Meal Preparation
            </div>
        </h2>
        
        <div class="meal-container">
            <a href="/home">
                <img src="images/meal1.png" alt="meal" class="meal">
            </a>
            <a href="/home">
                <img src="images/meal2.png" alt="meal" class="meal">
            </a>
            <a href="/home">
                <img src="images/meal3.png" alt="meal" class="meal">
            </a>
            <a href="/home">
                <img src="images/meal4.png" alt="meal" class="meal">
            </a>
            <a href="/home">
                <img src="images/meal5.png" alt="meal" class="meal">
            </a>
            <a href="/home">
                <img src="images/meal6.png" alt="meal" class="meal">
            </a>
            <a href="/home">
                <img src="images/meal7.png" alt="meal" class="meal">
            </a>
            <a href="/home">
                <img src="images/meal8.png" alt="meal" class="meal">
            </a>
           


        </div>
    </div>

</body>
</html>